<div class="container">
  <div class="new-lists">
    <div class="new-list">
      <h1 class = "mt-4">Create a new <strong>list</strong> !</h1>
      <%= simple_form_for(@list) do |f| %>
        <%= f.input :name %>
        <%= f.submit%>
      <% end %>
    </div>
<%= link_to "All your lists", lists_path, class:"btn btn-flat" %>
  </div>
</div>
